<a href="https://colab.research.google.com/github/Wael8787/Machine-Learning/blob/main/13_Eclat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyECLAT

Collecting pyECLAT
  Downloading https://files.pythonhosted.org/packages/2e/b7/3b5b1fc70e917d2e2b7182dfc0f5b26a573621ee2c64538a7d72bf3f1f15/pyECLAT-1.0.2-py3-none-any.whl
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.6/dist-packages (from pyECLAT) (1.1.5)
Requirement already satisfied: numpy>=1.17.4 in /usr/local/lib/python3.6/dist-packages (from pyECLAT) (1.18.5)
Requirement already satisfied: tqdm>=4.41.1 in /usr/local/lib/python3.6/dist-packages (from pyECLAT) (4.41.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.3->pyECLAT) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.3->pyECLAT) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->pyECLAT) (1.15.0)
Installing collected packages: pyECLAT
Successfully installed pyECLAT-1.0.2

In [8]:
from pyECLAT import Example1
ex1 = Example1().get()

In [9]:
ex1

        0      1       2       3
0    milk   beer   bread  butter
1   coffe  bread  butter     NaN
2   coffe  bread  butter     NaN
3    milk  coffe   bread  butter
4    beer    NaN     NaN     NaN
5  butter    NaN     NaN     NaN
6   bread    NaN     NaN     NaN
7    bean    NaN     NaN     NaN
8    rice   bean     NaN     NaN
9    rice    NaN     NaN     NaN

In [11]:
from pyECLAT import ECLAT
eclat_instance = ECLAT(data=ex1, verbose=True)

100%|██████████| 7/7 [00:00<00:00, 454.20it/s]
100%|██████████| 7/7 [00:00<00:00, 1839.03it/s]
100%|██████████| 7/7 [00:00<00:00, 1223.70it/s]

In [12]:
eclat_instance.uniq_

[nan, 'beer', 'bread', 'butter', 'coffe', 'milk', 'rice', 'bean']

In [16]:
get_ECLAT_indexes, get_ECLAT_supports = eclat_instance.fit(min_support=0.3,
                                                           min_combination=1,
                                                           max_combination=3,
                                                           separator=' & ',
                                                           verbose=True)

3it [00:00, 149.77it/s]
3it [00:00, 119.94it/s]
1it [00:00, 88.17it/s]

Combination 1 by 1
Combination 2 by 2
Combination 3 by 3

In [17]:
get_ECLAT_indexes

{'bread': [0, 1, 2, 3, 6],
 'bread & butter': [0, 1, 2, 3],
 'bread & butter & coffe': [1, 2, 3],
 'bread & coffe': [1, 2, 3],
 'butter': [0, 1, 2, 3, 5],
 'butter & coffe': [1, 2, 3],
 'coffe': [1, 2, 3]}

In [18]:
get_ECLAT_supports

{'bread': 0.5,
 'bread & butter': 0.4,
 'bread & butter & coffe': 0.3,
 'bread & coffe': 0.3,
 'butter': 0.5,
 'butter & coffe': 0.3,
 'coffe': 0.3}